h1{
	font-size: 60px;
	color: grey;
	margin: 0 auto;
}
h1:hover{
	color: blue;
	cursor: pointer;
}
h2{
	    padding: 0 384px;
}
h2:hover{
	color: blue;
	cursor: pointer;
}
span{
	color: blue;	
}
/*span:hover{
	color: grey;
	cursor: pointer;
}*/
p{
	font-size: 18px;
}
div{
	width: 900px;
	margin: 0 auto;
	background-color: #fff6ec;
}
img{
	width: 90%;
	/*margin: 20px 225px;*/
	margin: 0 50px;
	
}
